#spacer {
	margin-top: 50px;
}
#iphone_img {
	height: 75vh;
	margin-top: 50px;
	box-shadow: 0px 0px 100px #00000029;
	border-radius: 46px;
}
#logo_img {
	max-width: 300px;
	margin-top: 50px;
	margin-bottom: 58px;
}
#logo_img_nav {
	max-width: 300px;
}
h1.jumbo_text {
	margin-top: 0px;
	font-weight: bolder;
}
p.lead {
	font-weight: 400;
	font-size: 15px;
}
input#email_input {
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 1px;
}
#landing-submit {
	background: #00b35c;
	border: #00b35c;
	color: white;
	font-size: 11px !important;
	letter-spacing: 2px;
	padding-left: 50px !important;
	padding-right: 50px !important;
	text-shadow: none;
	border-radius: 0px 4px 4px 0px;
}
@media screen and (min-width: 768px) { /* Large */
	.navbar {
		visibility: hidden;
	}
	h1.jumbo_text {
		font-size: 31px;
	}
	p.lead {
		font-size: 17px;
	}
}
@media screen and (min-width: 991px) { /* Extra-Large */
	h1.jumbo_text {
		font-size: 41px;
	}
	p.lead {
		font-size: 20px;
	}
}
@media screen and (min-width: 1200px) { /* Extra-Extra Large */
	h1.jumbo_text {
		font-size: 50px;
	}
}
@media screen and (max-width: 768px) { /* Small */
	#logo_img:not(.logo_stay) {
		display: none;
	}
	div#info_div {
		margin-top: 50px;
	}
	h1.jumbo_text {
		font-size: 33px;
	}
	p.lead {
		font-size: 18px;
	}
}
nav.navbar.navbar-inverse.navbar-fixed-top {
	background: white;
	border: 1px solid #oab260;
	border-top: none;
	border-left: none;
	border-right: none;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
	background: white;
	border: 1px solid #oab260;
	border-top: none;
	border-left: none;
	border-right: none;
}
button.navbar-toggle.collapsed {
	border: none;
}
span.icon-bar {
	background: #c9c9c9 !important;
	height: 3px !important;
	width: 29px !important;
	border-radius: 0px !important;
}
#logo_img_nav {
	height: 40px;
	margin-top: 6px;
	margin-left: 8px;
}
a.navbar-brand {
    padding: 0px;
}
/* flat alerts please */
.alert {
	border: none !important;
	background-image: none;
	background-repeat: none;
}
/* ad0 (unisex/neutral) */
html#ad0 {
    background: linear-gradient(to bottom right, #0a2db1, #0ab160);
}
body#ad0 {
    background: none;
}
nav#ad0 {
    border: none !important;
    background: none !important;
}
button#ad0.navbar-toggle.collapsed {
    display: none;
}
html#ad0 h1.jumbo_text {
    color: white;
}
html#ad0 p.lead {
    color: white;
}
html#ad0 nav.navbar.navbar-inverse.navbar-fixed-top {
    background: none !important;
    border: none !important;
}
html#ad0 button.navbar-toggle.collapsed {
    display: none;
}
/* ad1 (male) */
nav#ad1 {
    border: none !important;
    background: none !important;
}
button#ad1.navbar-toggle.collapsed {
    display: none;
}
html#ad1 h1.jumbo_text {
    color: white;
}
html#ad1 p.lead {
    color: white;
}
html#ad1 nav.navbar.navbar-inverse.navbar-fixed-top {
    background: none !important;
    border: none !important;
}
html#ad1 button.navbar-toggle.collapsed {
    display: none;
}

/* ad2 (female) */
html#ad2 {
    background: pink;
}
body#ad2 {
    background: none;
}

/* misc */
img.iphone {
    width: 100%;
}
h4.iphone-lable {
    color: white;
    font-size: 22px;
}

/* img thing */
@media screen and (min-width: 768px) { /* Large */
	.gend_ad .row.iphone-row {
	    margin-top: -500px;
	}
	.gend_ad .container-fluid.gend_m {
		background-image: url("/public/mstock.png");;
		background-size: cover;
	}
	.gend_ad .container-fluid.gend_f {
		background-image: url("/public/fstock.jpg");;
		background-size: cover;
	}
	.container-fluid {
		box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	}
}
@media screen and (min-width: 991px) { /* Extra-Large */
	.gend_ad .row.iphone-row {
	    margin-top: -500px;
	}
	.gend_ad .container-fluid.gend_m {
		background-image: url("/public/mstock.png");;
		background-size: cover;
	}
	.gend_ad .container-fluid.gend_f {
		background-image: url("/public/fstock.jpg");;
		background-size: cover;
	}
	.container-fluid {
		box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	}
}
@media screen and (min-width: 1200px) { /* Extra-Extra Large */
	.gend_ad .row.iphone-row {
	    margin-top: -500px;
	}
	.gend_ad .container-fluid.gend_m {
		background-image: url("/public/mstock.png");;
		background-size: cover;
	}
	.gend_ad .container-fluid.gend_f {
		background-image: url("/public/fstock.jpg");;
		background-size: cover;
	}
	.container-fluid {
		box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	}
}
@media screen and (max-width: 768px) { /* Small */
	.gend_ad h1.jumbo_text {
		text-align: left;
	}
	.gend_ad p.lead {
		text-align: left;
	}
	.gend_ad h4.iphone-lable {
	    color: black;
	    font-size: 30px;
	}
	.gend_ad div#master-image-row {
		height: 100%;
		padding-bottom: 50px;
	}
	.gend_ad #master-image-row {
		padding-left: 10px;
		padding-right: 10px;
	}
	.gend_ad #master-image-row.gend_m {
		background-image: url("/public/mstock.png");;
		background-size: cover;
	}
	.gend_ad #master-image-row.gend_f {
		background-image: url("/public/fstock.jpg");;
		background-size: cover;
	}
	#master-image-row {
		box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	}
}
/* Re-adjust gender text-size */
@media screen and (min-width: 768px) { /* Large */
	.gend_ad h1.jumbo_text {
	    font-size: 43px;
	}
}
