<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/public/stickyfooter.css">
		<link rel="stylesheet" href="/public/new_actual_pages.css">
		<title>SwipeLong</title>
		<script src="/public/main.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="/public/logo.png" class="main_logo"></a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#about">App</a></li>
						<li><a href="#contact">Blog</a></li>
						<li class="active"><a href="#">About Us</a></li>
						<button class="navbutton btn btn-success swipelong_button_new"
onclick="$('html, body').animate({scrollTop:$(document).height()}, 'slow');"
>Sign up</button>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<br>
		<br>
		<br>
		<br>
		<div class="container">
<div class="row row1">
	<div class="col-md-4 col-left">
Swipelong was created to enable millennials to have an easy barrier of entry to learning the basics of investing
<div style="margin-top: 20px; height: 4px; width: 50px; background: white;"></div>
	</div>
	<div class="col-md-4">
It was on cold January day in New York City when SwipeLong was born. Sitting at a table in Tribeca during a snowstorm two Bitcoin millionares were discussing the current climate of the stock makret and cryptocurrency. What they had seen over the past few years was explosive growth in the market, innovation and a US Economy that was seemingly on the rise. What they dhad heard from their
	</div>
	<div class="col-md-4">
fellow Millenials was an unhappiness with the process of learning the basics of investing. At the end of the day what these two realized the issue was with engagement and how simple informaiton could initially be delivered. It was that day when they made the first mock of up what is now SwipeLong. The easiest way to swipe, match chat, and learn the basics of investing.
	</div>
</div>
<!--
<hr style="border-bottom: 1px solid black;">
<div class="row row2">
	<div class="col-md-4">
<h2 id="please_contact_us_today" style="font-size: 21px;">
PLEASE CONTACT US<br>TODAY WITH QUESTIONS
</h2>
	</div>
	<div class="col-md-3">
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your name" style="border: 1px solid black; margin-bottom: 11px; background: #f9f9f9;">
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address" style="border: 1px solid black; margin-bottom: 11px; background: #f9f9f9;">
								<button class="btn btn-success swipelong_button_submit" onclick="main.submit_email()" id="landing-submit">Sign up</button>
	</div>
	<div class="col-md-5">
<textarea class="form-control" rows="3" id="comment" style="height: 79px; border: 1px solid black; margin-bottom: 11px; background: #f9f9f9;">Your message</textarea>
	</div>
</div>
-->
<hr style="border-bottom: 1px solid black;">
<div class="row3">
<h2 id="we_are_now_hiring" class="text-center"
style="font-size: 23px; font-weight: bold; font-style: italic;"
>
WE ARE NOW HIRING FOR THE FOLLOWING POSITIONS
</h2>
</div>
<hr style="border-bottom: 1px solid black;">
<div class="row4">
<div class="col-md-3"><div style="background: white;height: 200px;margin-bottom: 50px;padding: 20px;"class="square_container"><h2 class="square_container_header"style="font-family: Helvetica;font-size: 23px;font-weight: 700;"
	>GRAPHIC<br>DESIGNER</h2><p class="square_container_time"style="color: #00b35b;font-size: 10px;font-weight: 500;"
	>PART TIME</h2></div>
</div>
<div class="col-md-3"><div style="background: white;height: 200px;margin-bottom: 50px;padding: 20px;"class="square_container"><h2 class="square_container_header"style="font-family: Helvetica;font-size: 23px;font-weight: 700;"
	>IOS<br>DEVELOPER</h2><p class="square_container_time"style="color: #00b35b;font-size: 10px;font-weight: 500;"
	>FULL TIME</h2></div>
</div>
<div class="col-md-3"><div style="background: white;height: 200px;margin-bottom: 50px;padding: 20px;"class="square_container"><h2 class="square_container_header"style="font-family: Helvetica;font-size: 23px;font-weight: 700;"
	>ANDROID<br>DEVELOPER</h2><p class="square_container_time"style="color: #00b35b;font-size: 10px;font-weight: 500;"
	>FULL TIME</h2></div>
</div>
<div class="col-md-3"><div style="background: white;height: 200px;margin-bottom: 50px;padding: 20px;"class="square_container"><h2 class="square_container_header"style="font-family: Helvetica;font-size: 23px;font-weight: 700;"
	>MBA<br>INTERN</h2><p class="square_container_time"style="color: #00b35b;font-size: 10px;font-weight: 500;"
	>FULL TIME</h2></div>
</div>
</div>
			<div class="row">
				<div class="col-md-6">
					<div class="feature_image phones_bottom" style="
						background-image: url(/public/blog_pics/blog13.png);
					">
					</div>
				</div>
				<div class="col-md-6">
					<div class="content">
						<h2 class="header bottom_part">discover the best companies</h2>
						<h2 class="header bottom_part">of today and tomorrow</h2>
						<h2 class="header bottom_part not_bold">with our free beta</h2>
						<div class="row">
							<div class="col-md-8">
								<div class="alert alert-info hidden" id="info_msg">[Info Text]</div>
								<div class="alert alert-danger hidden" id="err_msg">Oops... something went wrong!</div>
								<div class="alert alert-success hidden" id="success_msg">Thanks! We'll be in touch!</div>
								<input type="email" class="form-control" id="email_input" aria-describedby="emailHelp" placeholder="Email Address">
							</div>
							<div class="col-md-4">
								<button class="btn btn-success swipelong_button_submit" onclick="main.submit_email()" id="landing-submit">Sign up</button>
							</div>
<script>
$("#email_input").on('keyup', function (e) {
	if (e.keyCode == 13) {
		main.submit_email();	
	}
});
</script>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.container -->
		<footer class="footer">
			<div class="text-center">
				<br>
				<br>
				<img style="height: 35px;" src="/public/logo_white.png"/>
				<p style="color: white;font-size: 13px;font-weight: 300;margin-top: 10px;">Property of SwipeLong LLC 2018</p>
			</div>
		</footer>
	</body>
</html>
